# What is tabula ?
In simple words ,Tabula is a tool for liberating data tables locked inside PDF files.<br>
tabula-py is a simple Python wrapper of tabula-java, which can read tables in a PDF. You can read tables from a PDF and convert them into a pandas DataFrame. tabula-py also enables you to convert a PDF file into a CSV, a TSV or a JSON file.<br>

tabula-py is good for:<br>

automation with Python script<br>
advanced analytics after converting pandas DataFrame<br>
casual analytics with Jupyter notebook or Google Colabolatory<br>

## Install

pip install tabula-py                                          #requires java 8+ and python 3.5+

## Import

In [3]:
import tabula

### .environment_info() 
function, which shows Python version, Java version, and your OS environment.

In [4]:
import tabula 
tabula.environment_info()

Python version:
    3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
Java version:
    java version "1.8.0_271"
Java(TM) SE Runtime Environment (build 1.8.0_271-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.271-b09, mixed mode)
tabula-py version: 2.2.0
platform: Windows-10-10.0.19041-SP0
uname:
    uname_result(system='Windows', node='LAPTOP-RJVN020C', release='10', version='10.0.19041', machine='AMD64', processor='Intel64 Family 6 Model 158 Stepping 10, GenuineIntel')
linux_distribution: ('', '', '')
mac_ver: ('', ('', '', ''), '')

## .read_pdf
 tabula-py can load a PDF or file like object on both local or internet by using read_pdf() function.

In [5]:
pdf_path = "https://github.com/chezou/tabula-py/raw/master/tests/resources/data.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True)
# read_pdf returns list of DataFrames
print(len(dfs))
dfs[0]

#If you want to extract all pages, add ``pages="all"`` in argument of .read_pdf.

'pages' argument isn't specified.Will extract only from page 1 by default.

1

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

#### Read pdf into list of DataFrame

df = tabula.read_pdf("test.pdf", pages='all')

#### Read remote pdf into list of DataFrame

df2 = tabula.read_pdf("url.pdf")

#### convert PDF into CSV file
this will make one file which contains all the tables

tabula.convert_into("test.pdf", "output.csv", output_format="csv", pages='all')

### Set page option

In [6]:
dfs = tabula.read_pdf(pdf_path, pages=2, stream=True)                   # only 2nd page                 
dfs[0]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [8]:
dfs = tabula.read_pdf(pdf_path, pages='all', stream=True)           # all pages are selected                  
dfs

[             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
 0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
 1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
 2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
 3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
 4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
 5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
 6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
 7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
 8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
 9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
 10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
 11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
 12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
 13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
 14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
 15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
 16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
 17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
 18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
 19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
 20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
 21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
 22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
 23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
 24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
 25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
 26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
 27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
 28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
 29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
 30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
 31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

     gear  carb
 0      4     4
 1      4     4
 2      4     1
 3      3     1
 4      3     2
 5      3     1
 6      3     4
 7      4     2
 8      4     2
 9      4     4
 10     4     4
 11     3     3
 12     3     3
 13     3     3
 14     3     4
 15     3     4
 16     3     4
 17     4     1
 18     4     2
 19     4     1
 20     3     1
 21     3     2
 22     3     2
 23     3     4
 24     3     2
 25     4     1
 26     5     2
 27     5     2
 28     5     4
 29     5     6
 30     5     8
 31     4     2  ,
    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
 0           5.1          3.5           1.4          0.2  setosa
 1           4.9          3.0           1.4          0.2  setosa
 2           4.7          3.2           1.3          0.2  setosa
 3           4.6          3.1           1.5          0.2  setosa
 4           5.0          3.6           1.4          0.2  setosa
 5           5.4          3.9           1.7          0.4  setosa,
    Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
 0         145           6.7          3.3           5.7          2.5  virginica
 1         146           6.7          3.0           5.2          2.3  virginica
 2         147           6.3          2.5           5.0          1.9  virginica
 3         148           6.5          3.0           5.2          2.0  virginica
 4         149           6.2          3.4           5.4          2.3  virginica
 5         150           5.9          3.0           5.1          1.8  virginica,
      len supp  dose
 0    4.2   VC   0.5
 1   11.5   VC   0.5
 2    7.3   VC   0.5
 3    5.8   VC   0.5
 4    6.4   VC   0.5
 5   10.0   VC   0.5
 6   11.2   VC   0.5
 7   11.2   VC   0.5
 8    5.2   VC   0.5
 9    7.0   VC   0.5
 10  16.5   VC   1.0
 11  16.5   VC   1.0
 12  15.2   VC   1.0
 13  17.3   VC   1.0
 14  22.5   VC   1.0]

## Read partial area of PDF
If you want to set a certain part of page, you can use area option.

Note: tabula-py 2.0.0, multiple_tables option became True so if you want to use multiple area options like [[0, 0, 100, 50], [0, 50, 100, 100]], you need to set multiple_tables=False.

area=[top,left,down,right]

In [9]:
dfk = tabula.read_pdf(pdf_path, area=[126,149,212,462], pages=2)
dfk[0]

   Unnamed: 0  Sepal.Width  Petal.Length Petal.Width Species
0         5.1          3.5           1.4         0.2  setosa
1         4.9          3.0           1.4         0.2  setosa
2         4.7          3.2           1.3         0.2  setosa
3         4.6          3.1           1.5         0.2  setosa
4         5.0          3.6           1.4         0.2  setosa
5         3.9          1.7           0.4      setosa     NaN

### Read giving column information

In [10]:
pdf_path2 = "https://github.com/chezou/tabula-py/raw/master/tests/resources/campaign_donors.pdf"

dfs = tabula.read_pdf(pdf_path2, columns=[47, 147, 256, 310, 375, 431, 504], guess=False, pages=1)
df = dfs[0].drop(["Unnamed: 0"], axis=1)
df

,Apellido,Nombre,Matricula,Cuit,Fecha,Tipo,Importe
0,MENA,JUAN MARTÍN,27.083.460,20-27083460-5,09/10/2013,EFECTIVO,"$ 10.000,00"
1,MOLLE,MATÍAS,25.348.547,20-25348547-8,09/10/2013,EFECTIVO,"$ 10.000,00"
2,MOLLEVI,FEDERICO OSCAR,25.028.246,20-25028246-0,09/10/2013,EFECTIVO,"$ 10.000,00"
3,PERAZZO,PABLO DANIEL,25.348.394,20-25348394-7,09/10/2013,EFECTIVO,"$ 10.000,00"
4,PICARDI,FRANCO EDUARDO,27.382.271,20-27382271-3,09/10/2013,EFECTIVO,"$ 10.000,00"
5,PISONI,CARLOS ENRIQUE,26.034.823,20-26034823-0,09/10/2013,EFECTIVO,"$ 10.000,00"
6,PONTORIERO,MARÍA PAULA,23.249.597,27-23249597-4,09/10/2013,EFECTIVO,"$ 10.000,00"
7,PULESTON,JUAN MIGUEL,11.895.661,20-11895661-4,09/10/2013,EFECTIVO,"$ 10.000,00"
8,REMÓN,MABEL AURORA,11.292.939,27-11292939-3,09/10/2013,EFECTIVO,"$ 10.000,00"
9,SARRABAYROUSE,DIEGO,24.662.899,20-24662899-9,09/10/2013,EFECTIVO,"$ 10.000,00"
10,SPATOLA,ANALÍA CARMEN,24.560.922,27-24560922-7,09/10/2013,EFECTIVO,"$ 10.000,00"
11,STAMILLA,SERGIO ADRIÁN,29.364.226,20-29364226-6,09/10/2013,EFECTIVO,"$ 10.000,00"
12,SZARANGOWICZ,GUSTAVO ALEJANDRO,25.096.244,20-25096244-5,09/10/2013,EFECTIVO,"$ 10.000,00"
13,TAILHADE,LUIS RODOLFO,21.386.299,20-21386299-6,09/10/2013,EFECTIVO,"$ 10.000,00"
14,TEDESCHI,ADRIÁN ALBERTO,24.171.507,20-24171507-9,09/10/2013,EFECTIVO,"$ 10.000,00"
15,URRIZA,MARÍA TERESA,18.135.604,27-18135604-4,09/10/2013,EFECTIVO,"$ 10.000,00"
16,USTARROZ,GERÓNIMO JAVIER,24.912.947,20-24912947-0,09/10/2013,EFECTIVO,"$ 10.000,00"
17,VALSANGIACOMO BLANC,OFERNANDO JORGE,26.800.203,20-26800203-1,09/10/2013,EFECTIVO,"$ 10.000,00"
18,VICENTE,PABLO ARIEL,21.897.586,20-21897586-1,09/10/2013,EFECTIVO,"$ 10.000,00"
19,AMBURI,HUGO ALBERTO,14.096.560,20-14096560-0,09/10/2013,EFECTIVO,"$ 20.000,00"
20,BERRA,CLAUDIA SUSANA,14.433.112,27-14433112-0,09/10/2013,EFECTIVO,"$ 10.000,00"
21,LASALA,RICARDO ALBERTO,21.760.811,20-21760811-3,09/10/2013,EFECTIVO,"$ 10.000,00"
22,AZPITARTE,MARCELO CARLOS,16.018.569,20-16018569-5,09/10/2013,EFECTIVO,"$ 10.000,00"
23,BERARDO,CRISTINA BEATRIZ,12.609.615,27-12609615-7,09/10/2013,EFECTIVO,"$ 10.000,00"
24,OREIRO,RODOLFO MIGUEL,13.655.728,23-13655728-9,09/10/2013,EFECTIVO,"$ 10.000,00"
25,FAIENZA,MIGUEL ERNESTO,27.264.638,20-27264638-5,09/10/2013,EFECTIVO,"$ 20.000,00"
26,GRANILLO FERNANDEZ,JUAN MANUEL,27.235.280,20-27235280-2,09/10/2013,EFECTIVO,"$ 10.000,00"
27,RODRIGUEZ PINGITORE,CLAUDIA MONICA,23.343.332,27-23343332-8,09/10/2013,EFECTIVO,"$ 10.000,00"
28,CORBELLA,TERESITA GRACIELA,11.353.491,27-11353491-0,09/10/2013,EFECTIVO,"$ 5.000,00"
29,CORVINO,GERMAN HORACIO,27.491.524,20-27491524-3,09/10/2013,EFECTIVO,"$ 20.000,00"
30,GARCIA DELATOUR,AGUSTINA,29.501.230,27-29501230-2,09/10/2013,EFECTIVO,"$ 5.000,00"
31,AGUIRRE,LIDIA ELIZABETH,17.997.634,27-17997634-5,09/10/2013,EFECTIVO,"$ 5.000,00"
32,FORNERO,RAUL OSCAR,10.177.167,23-10177167-9,09/10/2013,EFECTIVO,"$ 5.000,00"
33,SKOCILIC,NATALIA ELIZABETH,30.237.737,27-30237737-0,09/10/2013,EFECTIVO,"$ 5.000,00"
34,SARRA,CARMEN,11.812.381,27-11812381-1,09/10/2013,EFECTIVO,"$ 20.000,00"
35,VIVALDO,MARÍA ITATÍ,20.458.214,27-20458214-4,09/10/2013,EFECTIVO,"$ 10.000,00"
36,LORENZO,FERNANDO LUIS,22.608.380,20-22608380-5,09/10/2013,EFECTIVO,"$ 15.000,00"
37,VESTILLERO,CARLOS SEBASTIAN,25.638.595,20-25638595-4,09/10/2013,EFECTIVO,"$ 10.000,00"
38,CASTRO,MARIA VICTORIA,22.642.061,23-22642061-4,09/10/2013,EFECTIVO,"$ 10.000,00"
39,PÉREZ SIMONDINI,ANDREA FABIANA,17.768.992,27-17768992-6,09/10/2013,EFECTIVO,"$ 10.000,00"
40,CLAVERO MITRE,LILIANA INES,11.176.760,27-11176760-8,09/10/2013,EFECTIVO,"$ 10.000,00"
41,SÁNCHEZ,MARIANA CLARA,20.205.651,27-20205651-8,09/10/2013,EFECTIVO,"$ 10.000,00"
42,TALLÓN,MATÍAS NORBERTO,33.498.601,20-33498601-3,09/10/2013,EFECTIVO,"$ 10.000,00"
43,SUAREZ,FERNANDO,11.633.291,20-11633291-5,09/10/2013,EFECTIVO,"$ 10.000,00"
44,TARSINO,MARIA EVELYN,23.276.482,27-23276482-7,09/10/2013,EFECTIVO,"$ 10.000,00"
45,GRIMBERG MARQUEZ,PAULA,27.680.600,27-27680600-4,09/10/2013,EFECTIVO,"$ 10.000,00"
46,THORP,MARIO,18.179.104,20-18179104-8,09/10/2013,EFECTIVO,"$ 10.000,00"
47,BARABAN,LORENA ELIZABETH,23.747.106,27-23747106-2,09/10/2013,EFECTIVO,"$ 10.000,00"
48,FRECHERO,EZEQUIEL,27.746.115,20-27746115-4,09/10/2013,EFECTIVO,"$ 10.000,00"
49,TORRES,CARLOS HUGO,25.957.223,20-25957223-2,09/10/2013,EFECTIVO,"$ 10.000,00"
50,BILLERES,GASTON MARTIN,23.301.948,20-23301948-9,09/10/2013,EFECTIVO,"$ 10.000,00"
51,RODRIGUEZ,EDGARDO JAVIER,21.502.793,20-21502793-8,09/10/2013,EFECTIVO,"$ 10.000,00"
52,KARPINSKY,ENRIQUE MARCELO,14.877.266,20-14877266-6,09/10/2013,EFECTIVO,"$ 10.000,00"
53,GRIMBERG MARQUEZ,JUAN CARLOS,7.831.240,20-07831240-9,09/10/2013,EFECTIVO,"$ 10.000,00"
54,BOGADO GONZALEZ,JULIO BERNABE,27.592.814,20-27592814-4,09/10/2013,EFECTIVO,"$ 10.000,00"
55,NaN,NaN,NaN,NaN,ANE,XO I-A-1 Págin,a 12 de 14

## Convert PDF tables into CSV, TSV, or JSON files

In [12]:
tabula.convert_into(pdf_path2, "test.csv", output_format="csv",pages="all")